# Ignore all node_modules
node_modules/

# Ignore env files
backend/.env
backend/.env.test
frontend/.env
frontend/.env.production

backend/docker_run.txt
frontend/docker_run.txt

# Ignore dist files
backend/dist/
frontend/dist/
